<footer id="footer">

    <div class="text-center fixed-bottom bg-light p-3">
        &copy; 2021 : Formation M2I POE
    </div>

    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Editer mon profil</h5>
                    <button type="button" #closebutton class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form name="" method="post" enctype="multipart/form-data" (submit)="submit()">
                    <div class="modal-body">

                        <div class="mb-5">
                            <div class="form-line mb-4">
                                <label class="form-label">Nom complet *</label>
                                <input class="form-control" type="text" name="tata" placeholder="Votre nom" required [(ngModel)]="app.user.name">
                            </div>

                            <div class="form-line mb-4">
                                <label class="form-label">Email *</label>
                                <input class="form-control" type="text" name="email" placeholder="Votre email" required [(ngModel)]="app.user.email">
                            </div>

                            <div class="form-line mb-4">
                                <label class="form-label">Nom d'utilisateur *</label>
                                <input class="form-control" type="text" name="username" placeholder="Votre nom d'utilisateur" required [(ngModel)]="app.user.username">
                            </div>

                            <div class="form-line mb-4">
                                <label class="form-label">Mot de passe *</label>
                                <input class="form-control" type="password" name="password" placeholder="Votre mot de passe" [(ngModel)]="app.user.password">
                            </div>
                        </div>

                        <div class="form-line mb-4">
                            <label class="form-label">Photo de profil*</label>
                            <input class="form-control" #fileInput type="file" name="photoProfil">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Valider</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</footer>