<main class="container">

    <h1>Liste des patients</h1>
    <button data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary" (click)="reset()">Ajouter un patient</button>

    <form method="get" (submit)="reloadPatients()">
        <div class="row my-4">
            <div class="col-4">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="search" placeholder="Rechercher" [(ngModel)]="search" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2"><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
            </div>
            <div class="col-4">
                <button type="submit" class="btn btn-primary">Rechercher</button>
            </div>
        </div>
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom complet</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Ville - Pays</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let patient of patients">
                <td>{{ patient.id }}</td>
                <td>{{ patient.prenom }} {{ patient.nom }}</td>
                <td>{{ patient.email }}</td>
                <td>{{ patient.telephone }}</td>
                <td>{{ patient.ville?.nom }} - {{ patient.ville?.pays }}</td>
                <td>
                    <a class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="edit(patient.id)"><i
                        class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    <button class="btn btn-danger btn-sm ms-3" (click)="delete(patient.id)"><i class="fa fa-trash-o"
                                                                                                 aria-hidden="true"></i>
                </button>
                </td>
            </tr>
        </tbody>
    </table>

</main>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" *ngIf="patient.id == undefined">Ajouter un patient</h5>
                <h5 class="modal-title" id="exampleModalLabel" *ngIf="patient.id != undefined">Editer un patient</h5>

                <button type="button" #closebutton class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form ngNativeValidate (submit)="submitPatient()">
                <div class="modal-body">

                    <div class="alert alert-danger" *ngIf="errorMessage.length > 0">{{errorMessage}}</div>
                    <div class="form-line mb-4">
                        <label class="form-label">Prénom *</label>
                        <input class="form-control" minlength="2" type="text" name="prenom" placeholder="Prénom" [(ngModel)]="patient.prenom" required>
                    </div>

                    <div class="form-line mb-4">
                        <label class="form-label">Nom *</label>
                        <input class="form-control" minlength="2" type="text" name="nom" placeholder="Nom" [(ngModel)]="patient.nom" required>
                    </div>

                    <div class="form-line mb-4">
                        <label>Email *</label>
                        <input class="form-control" type="email" name="email" placeholder="Email" [(ngModel)]="patient.email" required>
                    </div>

                    <div class="form-line mb-4">
                        <label>Téléphone *</label>
                        <input class="form-control" type="text" name="telephone" placeholder="Téléphone" [(ngModel)]="patient.telephone" required>
                    </div>

                    <div class="form-line mb-4">
                        <label>Date naissance *</label>
                        <input class="form-control" type="date" name="dateNaissance" placeholder="Date naissance" [(ngModel)]="patient.dateNaissance" required>
                    </div>

                    <div class="form-line mb-4">
                        <label>Adresse *</label>
                        <input class="form-control" type="text" name="adresse" placeholder="Adresse" [(ngModel)]="patient.adresse" required>
                    </div>

                    <div class="mb-3">
                        <label for="ville" class="form-label">Ville</label>
                        <select name="ville" id="ville" required class="form-select" [(ngModel)]="patient.ville" [compareWith]="checkVille">
                            <option value="">Sélectionner ville</option>
                            <option *ngFor="let ville of villes" [ngValue]="ville">
                                {{ville.nom}} - {{ville.pays}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button type="button" type="submit" class="btn btn-primary">Valider</button>
                </div>
            </form>
        </div>
    </div>
</div>