<div class="container">
    <input type="text" name="nom_ii" [(ngModel)]="nom" />
    <br><br> {{ nom }}

    <a [routerLink]="['/ville/addedit' , 0 ]" class="btn btn-success float-end">Nouvelle ville</a>
    <div class="h2">Liste des Villes</div>

    <button (click)="updateCities()" class="btn btn-primary">Mettre à jour les villes</button>

    <br><br>
    <div class="row">
        <div class="col-9">
            <div class="input-group mb-3 clearfix">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
                <input type="text" class="form-control" placeholder="Rechercher un patient" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-primary">Rechercher</button>
        </div>
    </div>


    <ng-container *ngIf="VillesState$ | async as state" [ngSwitch]="state.dataState">
        <ng-container *ngSwitchCase="VillesStateEnum.INITIAL">
            <div class="p-2"> Initial State</div>
        </ng-container>
        <ng-container *ngSwitchCase="VillesStateEnum.LOADING">
            <div class="p-2"> Loading...</div>
        </ng-container>
        <ng-container *ngSwitchCase="VillesStateEnum.ERROR">
            <div class="p-2 text-danger"> {{state.errorMessage |json}}</div>
        </ng-container>
        <ng-container *ngSwitchCase="VillesStateEnum.LOADED" class="p-4">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Ville</th>
                        <th>CP</th>
                        <th style="width:100px"><i class="fa fa-cogs"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ville of state.villes">
                        <td>{{ ville.id }}</td>
                        <td>{{ ville.nom }}</td>
                        <td>{{ ville.codePostal }}</td>
                        <td>
                            <a [routerLink]="['/ville/addedit' , ville.id ]"><i class="fa fa-edit"></i></a>
                            <a (click)="delete( ville.id )" class="ps-2"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </ng-container>
    </ng-container>





    <!-- (click)="edit( ville.id )" -->
    <!-- 
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form name="villeForm" (submit)="submitForm()">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ajouter une ville</h5>
                    <button type="button" #closebutton class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="nom" class="form-label">Nom</label>
                        <input type="text" class="form-control" id="nom" name="nom" placeholder="Nom" [(ngModel)]="ville.nom" minlength="2" required>
                    </div>

                    <div class="mb-3">
                        <label for="cp" class="form-label">Code Postal</label>
                        <input type="text" class="form-control" id="cp" name="cp" placeholder="Code Postal" [(ngModel)]="ville.codePostal" minlength="2" required>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-secondary">Valider</button>
                    <button type="reset" class="btn btn-danger float-end">Annuler</button>
                </div>
            </div>
        </form>
    </div>
</div>
-->
</div>